<!DOCTYPE html>
<html>
<head>
  <title>Fakegag</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'style' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="">
					<img alt="Brand" src="http://www.nerdofsweden.net/img/nerd_of_sweden_logo_small.png">
				</a>
				<ul class="nav navbar-nav">
					<% if request.fullpath.include? "hot" %><li class="active"><% else %><li><% end %><a href="/hot">Hot</a></li>
					<% if request.fullpath.include? "trending" %><li class="active"><% else %><li><% end %><a href="/trending">Trending</a></li>
					<% if request.fullpath.include? "fresh" %><li class="active"><% else %><li><% end %><a href="/fresh">Fresh</a></li>
				</ul>
			</div>
			<div class="navbar-right butn">
				<div if="butn-color" class="btn-group" role="group" aria-label="...">
					<% if current_user.present? %>

					  <a id="btn-post1" class="btn btn-primary" href="/articles/new" role="button">Nova Postagem</a>
					  <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "btn btn-danger", id:"btn-post2" %>
					<% else %>
					  <%= link_to "Sign up", new_user_registration_path, class: "btn bg-danger" %> 
					  <%= link_to "Log in", new_user_session_path, class: "btn btn-danger" %>
					<% end %>
				</div>
			</div>
		</div>
	</nav>

<%= yield %>

<script type="text/javascript">
    <%= yield :js %>
</script>

<footer id="footer">
	<ul class="icons">
		<li>
			<a href="#"><i class="fa fa-facebook"></i></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-github"></i></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-twitter"></i></a>
		</li>
	</ul>
	<ul class="copyright">
		<li>
			© Untitled. All rights reserved.
		</li>
	</ul>
</footer>

</body>
</html>
